<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="sermonApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="description" content="A Church of disciples of the Lord Jesus Christ, at Chennai since 1986, 
      emphasizing new birth, holiness of inner life, mutual love, financial integrity and sharing God's truth with others. 
      An evangelical, non-denominational church in Chennai, India.">
    <meta name="keywords" content="Chennai,Zac Poonen, Zac poonen church in Chennai, cfc church in chennai, Chennai church,church chennai,christian chennai,India,church india,church south india,
      churches in india,churches in chennai, church in india,christian,chrisrtian india,fellowship,Christian fellowship Church in Chennai, cfc chennai, cfc in chennai,cfc">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0 , maximum-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <title>CHENNAI CHURCH | Christian Fellowship Church, India </title>
    <!-- lightbox css files -->
    <link rel="stylesheet" type="text/css" href="css/lightbox.css">
    <!-- CSS files  -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/slider.css">
    <link rel="stylesheet" type="text/css" href="css/jqpagination.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mediaelementplayer.css" />
    
    <!-- Script files -->
    <script type="text/javascript" src="js/jQuery.js"></script>
    <script type="text/javascript" src="js/siteProgramming.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/csi.min.js"></script>
    <script type="text/javascript" src="js/lightbox.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.jqpagination.js"></script>
    <script type="text/javascript" src="js/mediaelement-and-player.min.js"></script>
    <script type="text/javascript" src="js/toArrayFilter.js"></script>
    <script type="text/javascript" src="js/sermonProgramming.js"></script>
    <script type="text/javascript" src="js/sermonController.js"></script>
    
 

   
  </head>
  <body class="no-sidebars md" ng-controller="sermonController">
    <header>
      <div class="menu-container">
        <div class="container">
          <div class="row">
            <div class="col-md-1 col-sm-1 col-xs-2 cfcc-logo">
              <a href="http://www.cfcindia.com/"> 
              <img class="img-responsive main-logo" src="images/Logo.png" alt="Chennai-CFC-Image">
              </a>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-8 cfcc-verse">
              <div class="col-md-10 col-sm-10 hidden-xs">
                <a href="http://www.cfcindia.com">
                  <div class="hidden-xs banner-text">Christian Fellowship
                    Church, Chennai
                  </div>
                </a>
                <!-- <div class="hidden-xs verse-text">
                  <em>And he who does not take his cross and follow after Me is not worthy of Me </br> (Matthew 10:38) </em>
                  </div> -->
              </div>
              <div class="hidden-md hidden-lg hidden-sm col-xs-12 xs-banner-text">
                Christian Fellowship Church, Chennai
              </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
              <a class="fb-share-button"
                href="https://www.facebook.com/groups/1419135528352392/" target="_blank"></a>
            </div>
            <div class="hidden-md hidden-lg hidden-sm col-xs-1">
              <nav class="navbar navbar-default navbar-inverse menu" role="navigation">
                <div class="navbar-header toggle-bar">
                  <button type="button" id="menu_btn" class="navbar-toggle" data-toggle="collapse" data-target="#menu_items_bar">
                  <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="menu_items_bar" class="overlay-container mobile-menu-items collapse navbar-collapse" style="display:none;">
                  <label for="menu_btn"></label>
                  <ul class="nav navbar-main">
                    <li class='active dropdown parent_menu'>
                      <a href='cfcc-home.html' title="home" class='home dropdown-toggle' 
                        data-toggle='dropdown'>
                      <span>Home</span></a>
                    </li>
                    <li class='dropdown parent_menu'>
                      <a href="about-us.html" target="_self" title="about-us" class='aboutUs dropdown-toggle' data-toggle='dropdown'>
                      <span>About us</span></a>
                    </li>
                    <li class='dropdown parent_menu'>
                      <a href='sermons.html' title="sermons" class='sermons dropdown-toggle' 
                        data-toggle='dropdown'>
                      <span>Sermons</span></a>
                    </li>
                    <li class='dropdown parent_menu'>
                      <a href='about-zac.html' title="about-zac" class='aboutBrother dropdown-toggle' data-toggle='dropdown'>
                      <span>About Zac Poonen</span></a>
                    </li>
                    <li class="has-sub dropdown parent_menu">
                      <a href='cfcc-thirumullai.html' title="cfcc-thirumullai" class='locateUs dropdown-toggle' data-toggle='dropdown'>
                      <span>Locate Us</span> <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu  multi-column-dropdown">
                        <li class="child_menu menu-list-item">
                          <a href="cfcc-thirumullai.html" title="cfcc-thirumullai"><span>CFC Thirumullaivoyal</span></a>
                        </li>
                        <li class="child_menu menu-list-item">
                          <a href="cfcc-tambaram.html" title="cfcc-tambaram"><span> CFC Tambaram </span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="menu-nav-container">
        <div class="container">
          <div class="row">
            <div class="col-md-12 hidden-xs">
              <nav class="navbar navbar-default navbar-inverse menu" role="navigation">
                <div id="menu_items_bar" class="collapse navbar-collapse">
                  <ul class="nav navbar-main">
                    <li class='active dropdown parent_menu'>
                      <a href='cfcc-home.html' title="home" class='home dropdown-toggle' data-toggle='dropdown'><span>Home</span></a>
                    </li>
                    <li class='dropdown parent_menu'>
                      <a href="about-us.html" target="_self" title="about-us" class='aboutUs dropdown-toggle' data-toggle='dropdown'><span>About us</span></a>
                    </li>
                    <li class='dropdown parent_menu'>
                      <a href='sermons.html' title="sermons"  class='sermons dropdown-toggle' data-toggle='dropdown'><span>Sermons</span></a>
                    </li>
                    <li class='dropdown parent_menu'>
                      <a href='about-zac.html' title="about-zac"  class='aboutBrother dropdown-toggle' data-toggle='dropdown'><span>About Zac Poonen</span></a>
                    </li>
                    <li class="has-sub dropdown parent_menu">
                      <a href='cfcc-thirumullai.html' title="cfcc-thirumullai"  class='locateUs dropdown-toggle' data-toggle='dropdown'><span>Locate Us</span>
                      <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu  multi-column-dropdown">
                        <li class="child_menu menu-list-item">
                          <a href="cfcc-thirumullai.html" title="cfcc-thirumullai"><span> CFC Thirumullaivoyal</span></a>
                        </li>
                        <li class="child_menu menu-list-item">
                          <a href="cfcc-tambaram.html" title="cfcc-tambaram"><span> CFC Tambaram </span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="error-container"></div>
    <div class="content-page-section">
      <div class="container body-container bs-docs-container">
        <div class="row spinner-row">
          <div class="loading-container" style="display:none;">
            <i class="loading-image"></i>
          </div>
        </div>
        <div class="row" id="full-width">
          <div class="col-md-12 col-sm-12 col-xs-12 home-page">
          <div class="col-md-8 col-sm-12 col-xs-12 content-section" id="content_section">
            <div class="col-md-12 col-sm-12 col-xs-12 sermons-player-section">
            	<div id="sermon_section_title" class="sermon-section-title">  </div>
           		 <div class="audio-section" style="display:none;">
           		 	<audio id="audioPlayer" src="http://www.cfcindia.org/resources/en/study-series/basic-christian-teachings/37-jesus-valued-all-people.mp3"></audio>
           		 </div>
           		 <div class="video-section">
           		 	<div class="player">
					<iframe width="720" height="340" src="http://www.youtube.com/embed/MslSfF9AewQ?rel=0&showinfo=0&enablejsapi=1" frameborder="0" allowfullscreen> 
					</iframe>
					</div>
				 </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 sermons-table">
				<div class="sermons-header">
					<div class="sermon-date sermon-col col-md-2 col-sm-2 col-xs-2"> Date </div>
					<div class="sermon-title sermon-col col-md-4 col-sm-4 col-xs-4"> Title </div>
					<div class="sermon-speaker sermon-col col-md-3 col-sm-3 col-xs-3"> Speaker </div>
					<div class="sermon-media sermon-col col-md-3 col-sm-3 col-xs-3"> Media</div>
				</div>
				<div class="sermon-content">
					Search by: 
					<input ng-model="query" placeholder=" ">
					<div class="sermon-row index{{::$index}}" ng-repeat="message in messages | toArray | filter:query track by $index">
						<div class='sermon-col col-md-2'> {{message.date}} </div>
						<div class='sermon-col col-md-4'> {{message.title }} </div>
						<div class='sermon-col col-md-3'> {{message.speaker}} </div>
						<div class='sermon-col col-md-3' ng-if="message.messagetype == 'audio'">
							<a id='sermon_audio' class='sermon-audio' data-src="{{message.audiokey}}" title="{message.title}"></a>
							<a class='sermon-download' href="{{message.audiokey}}" download="{{message.audiokey}}"></a>
						</div>
						<div class='sermon-col col-md-3' ng-if="message.messagetype == 'video'">
							<a id='sermon_video' class='sermon-video' data-src="{{message.videokey}}" title="{{message.title}}"></a>
							<a class='sermon-download' href="{{message.audiokey}}" download="{{message.audiokey}}"></a>
						</div>
						<div class='sermon-col col-md-3' ng-if="message.messagetype == 'both'">
							<a id='sermon_audio' class='sermon-audio' data-src="{{message.audiokey}}" title="{{message.title}}"></a>
							<a id='sermon_video' class='sermon-video' data-src="{{message.videokey}}" title="{{message.title}}"></a>
							<a class='sermon-download' href="{{message.audiokey}}" download="{{message.audiokey}}"></a>
						</div>
					</div>
				</div>
				<div class="pagination">
				
					<a href="#" class="first" data-action="first">&laquo;</a>
					<a href="#" class="previous" data-action="previous">&lsaquo;</a> 
					<input type="text" readonly="readonly" data-max-page="40" /> 
					<a href="#" class="next" data-action="next">&rsaquo;</a> 
					<a href="#" class="last" data-action="last">&raquo;</a>
				</div>
			</div>
			</div>
            <div class="col-md-3 col-sm-12 col-xs-12 timings-section" id="timings_section">
              <div data-include="timings.html"> </div>
            </div>
          </div>
        </div>
      </div>
	</div>
    <footer>
      <div data-include="footer.html"></div>
    </footer>
    <script src="js/lightbox.js"></script>
   </body> 
  </html>  
