@CHARSET "ISO-8859-1";

body {
	font-family: 'HelveticaNeueLT-Light';
	font-weight: 100;
	font-size: 12px;
	line-height: 1.42857143;
	overflow-x: hidden !important;
	margin: 0 !important;
	padding: 0 !important;
	color: #FFFFFF;
}

* {
	margin: 0;
	padding: 0;
}

div {
	float: left;
}

ul {
	margin: 0px;
	padding: 0px;
}

ul li {
	list-style: none;
}

a:hover {
	cursor: pointer;
}

.container,.container .row,.menu-container,.menu-nav-container,.footer-menu
	{
	width: 100% !important;
}

.main-content-container,.footer-container {
	margin-left: 20px;
}

.show-nav {
	display: block;
}

.navbar {
	margin-bottom: 0 !important;
}

.main-content {
	position: relative;
	width: 980px;
	margin: 0 auto;
	z-index: 50;
}

.menu-container {
	background: url("../images/Chennai_Cfc_Header.png") repeat scroll 0% 0%
		#A74040;
	width: 100%;
	height: 90px;
	/* background: #A74040; */
}

.cfcc-verse {
	text-align: center;
}

.banner-text {
	float: left;
	width: 100%;
	color: #ffffff;
	font: Bold 32px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
	margin: 25px 0 0 20px;
}

.verse-text {
	width: 100%;
	color: #fae570;
	margin: 2px 20px;
}

.cfcc-logo {
	margin-top: 4px;
}

.main-logo {
	margin: 10px 20px 0;
}

.cfcc-verse {
	line-height: 30px;
}

.xs-banner-text {
	top: 10px;
	color: #ffffff;
	font: 14px Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}

.carousel-inner {
	height: 350px;
}

.section2 {
	margin-top: 20px;
}

/* Menu bar Stylings */
.menu-header {
	max-height: 98px !important;
}

.navbar-fixed-top {
	position: relative !important;
}

.navbar-inverse,.navbar-default {
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
	border: 0 !important;
	border-color: transparent !important;
}

.toggle-bar {
	right: 0;
	position: absolute;
}

.header::after {
	content: '';
	clear: both;
	display: table;
}

.menu-nav-container {
	height: 43px;
}

#menu_items_bar ul,#menu_items_bar li,#menu_items_bar span,#menu_items_bar a
	{
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

#menu_items_bar {
	position: relative;
	height: 42px !important;
	width: 120%;
	margin: 0px 5px 0;
	padding-left: 80px;
	border-top: 1px solid #e7e7e7;
}

#menu_items_bar ul {
	font-weight: 600;
	list-style: none;
}

.empty-menu {
	bottom: 65px;
	height: 45px;
	width: 100%;
	position: relative;
}

#menu_items_bar:after,#menu_items_bar ul:after {
	content: '';
	display: block;
	clear: both;
}

#menu_items_bar a {
	color: #A74040;
	display: inline-block;
	font: Bold 18px Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
	line-height: 28px;
	padding: 5px 50px;
	border:1px solid #FFF;
	text-decoration: none;
}

#menu_items_bar ul {
	list-style: none;
}

#menu_items_bar>ul,#menu_items_bar>ul>li {
	float: left;
}

#menu_items_bar>ul>li.active a,#menu_items_bar>ul>li:hover>a {
	border: 1px solid #A54040;
	cursor: pointer;
	background: none;
}

#menu_items_bar>ul>li.has-sub:hover>a {
	border-bottom: 0 !important;
	background:#FFF;
}

#menu_items_bar>ul>li.active a {
	border: 1px solid #f8f8f8;
	background: none;
}

#menu_items_bar .has-sub {
	z-index: 1;
}

#menu_items_bar .has-sub:hover>ul {
	display: block;
}

#menu_items_bar .has-sub ul {
	display: none;
	position: absolute;
	width: 120%;
	top: 100%;
	left: 0;
	border: 1px solid #A54040;
	border-radius: 0;
	margin-top:-1px;
  	z-index:-1;
}

#menu_items_bar .has-sub ul li a {
	border-bottom: 1px solid #333;
	display: block;
	line-height: 160%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
}

#menu_items_bar .has-sub .has-sub a {
	border-right: 1px solid #f8f8f8;
}

#menu_items_bar .has-sub ul li:hover a {
	color: #BE3B85;
	background: none;
	cursor: pointer;
	background: none;
}

#menu_items_bar .has-sub .has-sub:hover>ul {
	display: block;
}

#menu_items_bar .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}

#menu_items_bar .has-sub .has-sub a {
	border-right: none;
}

#menu_items_bar .has-sub .has-sub .fa {
	float: right;
}

#menu_items_bar .has-sub .has-sub ul li a:hover {
	cursor: pointer;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #fffff1 !important;
}
.fb-share-button {
	width: 37px;
	height: 37px;
	background-image: url("../images/FB-Logo.png");
	position: absolute;
	top: 23px;
}

#featured-home-page-image.row {
	margin-left: 0;
	margin-right: 0;
}
/* Main content stylings */
.container.body-container{
	clear: both;
}
.content-page-section {
	min-height: 450px;
	height: auto;
}
.home-page-spinner {
	width: 100%;
}

.content-page-section,.home-page-section {
	border-top: 1px solid #e7e7e7;
}

.image-slider-container {
	width: 100% !important;
}

.content .field-items {
	line-height: 1.5;
	font: normal 16px Arial;
	color: #4d4d4d;
}
.field-items p{
	margin: 10px 0 0 10px;
	line-height: 1.8;
}
.field-item {
	line-height: 1.8;
}

.body-container {
	margin: 0 0 20px 5% !important;
}

.body-container h3 {
	color: #A74040;
	font: Bold 18px Arial;
}
.content-page-section {
	width: 100%;
}
.content-section {
	min-height: 450px !important;
	height: auto;
	margin-top: 10px;
	border-right: 1px solid #83CFCB;
}
.home-page-section .content-section  {
	border-right: 1px solid #83CFCB;
}
.timings-section {
	margin-left: 10px !important;
	margin-top: 10px;
	line-height: 30px;
	height: 100%;
}
.content-border {
	border-right: 1px solid #83CFCB;
}
.meeting-heading,.meeting-timings {
	border-bottom: 1px solid #83CFCB;
	margin-bottom: 20px;
}

.timings-section:last-child {
	border-bottom: none;
}

.cfcc-meetings-place {
	margin-bottom: 10px;
	clear: both;
}
.thirumullai-language, .tambaram-language {
	margin: 5px 0;
	clear: both;
}
.thirumullai-language a, .tambaram-language a{
	font: normal 16px Arial;
	color: #494949;
}
.tambaram-cfc a {
	color: #A74040;
}
.cfcc-meetings-place h4 {
	color: #007e73;
}
.thirumullai-cfc a {
	color: #007e73;
}

.tambaram-cfc a {
	color: #ab2a3c;
}
.cfcc-meetings-place-thirumullai {
	margin-bottom: 5px;
    color: #007e73;
    clear: both;
}
.cfcc-meetings-place-tambaram {
	margin-bottom: 5px;
    color: #A74040;
    clear: both;
}
.cfcc-meetings-place-brother.thirumullai {
	color: #007e73;
    clear: both;
}
.cfcc-meetings-place-brother.tambaram{
	color: #A74040;
	clear: both;
}
.cfcc-meetings-place-brother h4 {
	margin-bottom: 0px;
}
.cfcc-meetings-place a {
	font: Bold 16px Arial;
}

.cfcc-meetings-place a:hover {
	text-decoration: none;
	color: #83CFCB !important;
	cursor: pointer;
}
.thirumullai-address , .tambaram-address {
	line-height: 1.5;
    font-size: 18px;
	margin-bottom: 5px;
}
.meeting-heading {
	width: 100%;
	font: bold 24px Arial;
	color: #494949;
	
}

.cfcc-timings {
	font: normal 14px Arial;
	color: #585d60;
	clear: both;
	line-height: 20px;
}
.language-content {
	font: normal 14px Arial;
	color: #585d60;
	line-height: 20px;
}

.directions {
	width: 180px;
	height: 50px;
	display: block;
	clear: both;
}

.cfcc-thirumullai-directions {
	background: url("../images/getDir_1.png");
}

.cfcc-tambaram-directions {
	background: url("../images/getDir_2.png");
}

.thirumullai-maps {
	background: url("../images/thirumullai_maps.PNG");
	width: 730px;
    height: 400px;
    display: block;
}

.tambaram-maps {
	background: url("../images/tambaram_maps.PNG");
	width: 730px;
    height: 400px;
    display: block;
}
.spinner-row {
	width: 100%;
}
.spinner-row .fa-spinner{
	font-size: 40px;
}
.loading-container {
	margin-top: 100px;
	margin-left: 40%;
}
.loading-image {
background: url("../images/loading.gif") no-repeat;
display: block;
width: 170px;
height: 170px;
margin-top: -50px;
}
.loading-spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 75px;
    height: 75px;
	margin: 15% 45%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* About brother page styles */
figure.inner-image {
	position: relative;
	border: 1px solid #d5d5d5;
	background: #fff;
	padding: 5px;
	display: inline-block;
	margin: 10px !important;
}

/* sermons page stylings */
.sermons-table {
	
}
.sermons-cotainer {
	width: 100%;
}

.sermons-header {
	background: url("../images/Chennai_Cfc_Header.png") repeat scroll 0% 0% #A84041;
	height: 45px;
	width: 100%;
	color: #fcfcfc;
	padding: 10px;
    font: Bold 18px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
}
.sermons-header  a, .sermons-header a:hover {
	color: #ffffff;
	text-decoration: none;
}
.sermon-row{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding: 18px;
	color: #585d60;
	font: normal 15px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
}

.sermons-player-section {
	height: auto;
	width: 100%;
	background: #f3f3f3;
	min-height: 200px !important;
	max-height: 410px !important;
}
.mejs-container.mejs-video{
	margin-left: 5%;
} 
.mejs-container.mejs-audio{
	margin: 10%;
}
.sermons-table {
	margin-top: 20px;
}
.audio-section , .video-section {
	clear: both;
}
.audio-section {
	min-height: 250px;
	margin-left: 20%;
}
.jp-audio, .jp-audio-stream, .jp-video {
	margin-top: 10%;
}
.jp-audio .jp-controls {
	width: 100% !important;
}
.jp-volume-controls {
	top: 24px !important;
}
.jp-controls-holder {
	width: 70% !important;
}
.jp-progress , .jp-seek-bar {
	
}
.video-section, .player {
	width: 100%;
	height: 360px;
}
.empty-message {
	width: 100%;
	text-align: center;
}
.pagination-div {
	float: right;
}
.pagination>li {
	display: inline-flex !important;
}
.player iframe {
	width: 100%;
}
#sermon-audio , #sermon-video, #sermon-download {
	width: 28px;
	height: 28px;
	position: relative;
	display: inline-block;
    margin-right: 10px;
}
	.sermon-content {
		width: 100%;
	}
	.sermon-header a , .sermon-header a:hover{
		color: #ffffff;
		text-decoration: none;
	}
	.sermon-section-title {
		font: Bold 18px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
		margin: 10px 0;
	}
	#sermon-audio {
		background: url(../images/music-icon.png);
	}
	#sermon-video {
		background: url(../images/youtube-icon.png);
	}
	.query-section {
		width: 100%;
		margin-bottom: 10px;
	}
	.search-dropdown {
		float: right;
	}
	.search-dropdown select
	{ 
		background: #fdfdfd;
		border-radius: 3px;
		padding: 5px;
	}
	.search-textbox  input{
		border-radius: 3px;
		background: #fdfdfd;
		-webkit-box-shadow: inset 1px 1px 0px 0px #fcfcfc;
		-moz-box-shadow: inset 1px 1px 0px 0px #fcfcfc;
		box-shadow: inset 1px 1px 0px 0px #fcfcfc;
		min-height: 30px;
		min-width: 150px;
	}
	.search-textbox {
		font: normal 14px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
	}
   #sermon-download {
	background: url(../images/download-icon.png);
	}

.pagination {
	clear: both;
	float: right;
	margin: 20px 10px;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
	cursor:pointer;
}
.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

.videogular-container.audio {
    height: 50px;
}
/* Maps page stylings*/
.contact-map iframe {
	width: 550px;
}
.contact-heading {
	border-bottom: 1px solid #494949;
}
/* Footer Stylings */
footer {
	background: #333333;
}

.footer-container {
	width: 100%;
	background: #303030;
	position: relative;
	height: 215pt;
	margin: 0 auto;
	border-top: 1px solid #333333;
	z-index: 3;
}

.footer-menu {
	margin-left: 15px;
}

.footer-menu h4 {
	color: #ffffff;
	margin-top: 20px;
}

.footer-menu ul li {
	color: #bababa;
	font-size: 16px;
}

.footer-section-1,.footer-section-2,.footer-section-3 {
	margin-top: 10px;
	line-height: 1.6;
}

.footer-section-3 a {
	color: #bababa;
	text-decoration: none;
	font-size: 16px;
}

.cfcc-bottom-footer {
	min-height: 30px;
	padding-top: 15px;
	width: 100%;
	text-align: center;
	color: #bababa;
	font-size: 16px;
}


/* Media queries */
/* For smaller mobile devices */
@media ( min-width :320px) and (max-width: 499px) {
	.xs-banner-text {
		top: 10px;
		color: #ffffff;
		font: 12px Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
	}
	
	.carousel-inner {
	   height: 9em;
	} 
}
/* For all mobile devices common styles */
@media ( min-width :320px) and (max-width: 768px) {
	.main-logo {
	   margin-left: 0;
	}
	.navbar-header button{
	   position: absolute;
	 }
	
	#menu_items_bar {
		position: fixed;
		height: 65% !important;
		width: 75%;
		margin: 0;
		padding: 0;
		font-size: 12px;
		top: 0;
		right: 0;
		z-index: 1000;
		background: #fcfcfc;
        box-shadow: -5px 5px 5px #A74042;
	}
	#menu_items_bar a {
		background: none;
		padding-top: 20px;
		background: none;
		line-height: 16px;
		border: none;
		color: #A74043;
	}
	#menu_items_bar label {
		width: 28px;
		height: 28px;
		position: absolute;
		right: 10px;
		top: 10px;
		background: url('../images/close.png');
		z-index: 100;
		cursor: pointer;
	}
	#menu_items_bar nav {
		text-align: center;
		position: relative;
		height: 60%;
		font-size: 14px;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-moz-perspective: 300px;
	}
	#menu_items_bar  ul {
		padding: 0;
		float: right;
		display: inline-block;
		height: 50%;
		width: 100%;
		position: relative;
		background: none;
	}
	#menu_items_bar>ul>li {
		display: block;
		height: calc(100%/ 5);
		min-height: 50px;
		clear: both;
		float: right;
		border-bottom: 1px solid #A74045;
		width: 100%;
	}
	#menu_items_bar>ul>li.active a,#menu_items_bar>ul>li:hover>a {
		border: none;
		color: #BE3B85;
		background: none;
	}
	#menu_items_bar .has-sub ul li:hover a {
		color: #BE3B85;
		background: none;
	}
	#menu_items_bar .has-sub ul {
		padding: 0;
		float: left;
		height: 50%;
		position: absolute;
		background: none;
		display: none;
		width: 100%;
		top: 100%;
		right: 0;
		border: none;
	}
	#menu_items_bar .has-sub ul li a {
		border-bottom: 1px solid #A74045;
		color: #A74042;
		font-size: 14px;
	}
	#menu_btn:checked ~.overlay-container {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
	}
	#menu_btn:checked ~.overlay-container nav ul {
		opacity: 1;
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}
	#menu_btn:not (:checked )~.overlay-container nav ul {
		-webkit-transform: translateY(25%) rotateX(-35deg);
		transform: translateY(25%) rotateX(-35deg);
	}
	#menu_items_bar>ul>li {
	   text-align: right;
	}
	.fb-share-button {
	  right: 30px;
    top: 8px;
	}
	.home-page-slider {
	   margin-top: 10px;
	}
	.menu-nav-container{
	   display: none;
	}
	.content-section {
	   border-right: 0;
	}
	.content .field-items {
     font: normal 14px Arial;
  }
	.cfcc-timings {
	   font: normal 14px Arial;
	}
	.cfcc-meetings-place a {
	   font: Bold 16px Arial;
	}
	.xs-banner-text{
	   text-align: left;
	}
	.sermon-row .sermon-col {
		padding: 0px 5px;
	}
	.query-section {
		width: 100%;
	}
	.search-dropdown {
		float: right;
	}
	.search-dropdown select
	{ 
		background: #fdfdfd;
		border-radius: 3px;
		padding: 5px;
	}
	.search-textbox  input{
		border-radius: 3px;
		background: #fdfdfd;
		-webkit-box-shadow: inset 1px 1px 0px 0px #fcfcfc;
		-moz-box-shadow: inset 1px 1px 0px 0px #fcfcfc;
		box-shadow: inset 1px 1px 0px 0px #fcfcfc;
		min-height: 30px;
		min-width: 150px;
	}
	.search-textbox {
		font: normal 12px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
	}
	.sermons-header {
		padding: 6px 0px;
		font: Bold 15px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
	}
	.sermon-container {
		width: 100%;
	}
	.sermon-row {
		font: normal 12px Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
	}
	#sermon-audio, #sermon-video, #sermon-download {
		margin: 0;
	}
	.contact-map iframe {
		width: 100%;
	}
	.footer-menu h4 {
	   font-size: 16px;
	}
	.footer-menu ul li {
	   font-size: 14px;
	}
	.footer-section-1,.footer-section-2, .footer-section-3 {
	   margin-top: 0;
	   line-height: 1.5;
	}
	.footer-container {
    height: 350pt;
  }
  .cfcc-bottom-footer {
      font-size: 14px;
  }
}

@media (min-width :500px) and (max-width: 768px) {
	.main-logo {
		margin-top: 0px !important;
		margin-left: 0px;
		margin: 0px;
		max-width: 40px !important;
	}
	.xs-banner-text {
	   font: 18px Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
	}
	.content-section {
		border-right: none;
	}
	.menu-container {
		height: auto;
	}
	.carousel-inner {
		height: 11em;
	}
	.fb-share-button {
		top: 7px;
	}
	.cfcc-meetings-place a {
		font: Bold 16px Arial;
	}
	.cfcc-timings {
		font: normal 14px Arial;
	}
	.footer-menu ul li,.footer-section-3 a,.cfcc-bottom-footer {
		font-size: 12px;
	}
	.footer-menu h4 {
		font-size: 16px;
	}
}

@media ( min-width :992px) {
	.footer-area {
		min-width: 1100px;
	}
}

@media ( min-width : 700px) {
	.container,.container .row,.menu-container,.menu-nav-container,.footer-menu
		{
		width: 100% !important;
	}
	.menu-container {
		height: 90px;
	}
}

