 <h3>About Us</h3>
 <div class="region region-content">
	<div class="content">
		<div class="field-items">
			<div class="field-item even">
				The church of believers that meets at Chennai Christian Fellowship Church(CCFC) today commenced with a few 
				families that first met together in Chennai, India during 1986. First be disciples of the Lord JESUS CHRIST themselves, 
				and then to make disciples in obedience to the Lord's commission in Matthew 28: 18-20. We emphasized new birth, 
				holiness of inner life, mutual love, moral purity, financial integrity and sharing GOD's truth with others - 
				founding every aspect of their lives on God's Word alone.
			</div>
		</div>
	</div>
</div>
		
