<div class="container-fluid body-container bs-docs-container">
			<div class="row-fluid" id="full-width">
				<div class="col-md-12 home-page">
					<div class="col-md-8 content-section" id="content_section">
						<h3>About Us</h3>
						<div class="region region-content">
							<div class="content">
								<div class="field-items">
									<div class="field-item even">
										The church of believers that meets at Chennai Christian Fellowship Church(CCFC) today commenced with a few 
										families that first met together in Chennai, India during 1986. First be disciples of the Lord JESUS CHRIST themselves, 
										and then to make disciples in obedience to the Lord's commission in Matthew 28: 18-20. We emphasized new birth, 
										holiness of inner life, mutual love, moral purity, financial integrity and sharing GOD's truth with others - 
										founding every aspect of their lives on God's Word alone.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12 timings-section" id="timings_section">
						<div class="meeting-heading">
						  <h3>OUR MEETINGS</h3>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12  nopadding meeting-timings">
						 <div class="cfcc-meetings-place">
						    <a href="#"> CFC Thirumullaivoyal</a>
						  </div>
						  <div class="cfcc-timings">SUNDAY : 10:30AM - 12:30PM</div>
						  <a class="directions cfcc-thirumullai-directions" href="#"> </a>
						</div>
						  
						<div class="col-md-12 col-sm-12 col-xs-12 nopadding meeting-timings">
						  <div class="cfcc-meetings-place">
						    <a href="#"> CFC Tambaram</a>
						  </div>
						  <div class="cfcc-timings">SUNDAY : 10:30AM - 12:30PM</div>
						  <div class="cfcc-timings">THURSDAY : 7:30PM - 8:30PM</div>
						  <a class="directions cfcc-tambaram-directions" href="#"> </a>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>

