<div class="container-fluid body-container bs-docs-container">
			<div class="row-fluid" id="full-width">
				<div class="col-md-12 home-page">
					<div class="col-md-8 content-section" id="content_section">
						<h4>About Zac Poonen</h3>
					<div class="region region-content">
						<div class="content">
							<div class="field-items">
								<figure class="inner-image pull-left">
									<a class="inner-image-link" href="http://www.cfcindia.com/resources/en/images/about-zac-poonen.jpg"
											data-lightbox="inner-iamge-1" data-title="Zac Poonen"> 
											<img src="http://www.cfcindia.com/resources/en/images/about-zacpoonen.jpg" alt="Zac Poonen"><br>
											<figcaption>Zac Poonen</figcaption></a>
								</figure>
								<p>Zac Poonen was formerly an Indian Naval Officer who has been
									serving the Lord in India for over 50 years as a Bible-teacher. He
									has responsibility for a number of churches in India and abroad.</p>
								<p>He has written more than 25 books and numerous articles in
									English - which have been translated into many Indian and foreign
									languages. His messages are available on audio CDs and video DVDs.</p>
								<p>
									Like the other elders in CFC, Zac Poonen also supports himself and
									his family through "
									<a href="http://www.cfcindia.com/books/the-day-of-small-beginnings#Money-And-Gods-Work">tent-making</a>"
									and does not receive any salary for his services. He does not
									receive any royalty for any of his books, CDs or DVDs that are
									published by Christian Fellowship Center, Bangalore.
								</p>
								<p> For Zac Poonen's personal testimony, go to the following links:<br>
									<a href="http://www.cfcindia.com/books/the-day-of-small-beginnings">The
										Day Of Small Beginnings </a><br>
								</p>
							</div>
						</div>
					</div>

					</div>
					<div class="col-md-3 col-sm-12 col-xs-12 timings-section" id="timings_section">
						<div data-include="templates/timings.html"></div>
					</div>
				</div>
			</div>
		</div>


