<div class="sermons-cotainer" ng-controller="sermonController">
	<div class="sermons-player-section">
		<h4> Sermon Title </h4>
		<div>
			<audio media-player="audio1" data-playlist="playlist1">
				<source src="http://upload.wikimedia.org/wikipedia/en/d/d0/Rick_Astley_-_Never_Gonna_Give_You_Up.ogg" type="audio/ogg">
			</audio>
			<span ng-show="audio1.playing">Player status: Playing</span>
			<span ng-show="!audio1.playing">Player status: Paused</span>
		</div>
	</div>
	<div class="container sermons-table-conatiner">
		<div class="row">
			<div class="sermon-col sermon-date col-md-3 col-sm-3 col-xs-3">
				
			</div>
			<div class="sermon-col sermon-title col-md-3 col-sm-3 col-xs-3">
			
			</div>
			<div class="sermon-col sermon-speaker col-md-3 col-sm-3 col-xs-3">
			
			</div>
			<div class="sermon-col sermon-type col-md-3 col-sm-3 col-xs-3">
			
			</div>
		</div>
	</div>
</div>
