<h3>About Us</h3>
<div class="region region-content">
	<div class="content">
		<div class="field-items">
			<div class="field-item even">
				<ol style="float: left">
					<li class="about">That the Bible (66 books) is the inspired
						and infallible Word of God, the sole and sufficient guide for our
						life on earth.</li>
				</ol>
				<span>For a fuller statement of what we believe, click <a
					href="http://www.cfcindia.com/article/the-truth-that-we-believe">here</a>.
				</span>
			</div>
		</div>
	</div>
</div>
