<div class="row-fluid home-page-slider">
   <div class="container image-slider-container">
      <div id="featured-home-page-image" class="row">
         <div id="featured-home-carousel-image">
            <div id="homeCarousel" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#homeCarousel" data-slide-to="0"></li>
                  <li data-target="#homeCarousel" data-slide-to="1"></li>
                  <li data-target="#homeCarousel" data-slide-to="2"></li>
                  <li data-target="#homeCarousel" data-slide-to="3"></li>
               </ol>
               <div class="carousel-inner" ng-controller="MyCtrl">
                  <div class="item image-viewier" ng-repeat="item in items">
                     <a href="#">
                        <img src="admin/imagebank/jesus-praying_2.jpg">
                        <div class='sLeft whiteText'>
                           <mytitle>JESUS Praying</mytitle>
                        </div>
                     </a>
                  </div>
                  <div class="item image-viewier" ng-repeat="item in items">
                     <a href="#">
                        <img src="admin/imagebank/praying_woman_in_church_1.jpg">
                        <div class='sLeft whiteText'>
                           <mytitle>Praying woman in Church</mytitle>
                        </div>
                     </a>
                  </div>
                  <div class="item image-viewier" ng-repeat="item in items">
                     <a href="#">
                        <img src="admin/imagebank/sheep.jpg">
                        <div class='sLeft whiteText'>
                           <mytitle>The sheep will hear my voice</mytitle>
                        </div>
                     </a>
                  </div>
                  <div class="item image-viewier" ng-repeat="item in items">
                     <a href="#">
                        <img src="admin/imagebank/coins-stacked-2.jpg">
                        <div class='sLeft whiteText'>
                           <mytitle>Love of money is the root of all evil</mytitle>
                        </div>
                     </a>
                  </div>
               </div>
               <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev"> 
               <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
               </a> 
               <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next"> 
               <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
