 <div class="row-fluid home-page-slider" ng-app="myApp">
    <div class="container image-slider-container">
      <div id="featured-home-page-image" class="row">
       <div id="featured-home-carousel-image">
         <div id="homeCarousel" class="carousel slide" data-ride="carousel">
             <ol class="carousel-indicators">
               <li data-target="#homeCarousel" data-slide-to="0"></li>
               <li data-target="#homeCarousel" data-slide-to="1"></li>
               <li data-target="#homeCarousel" data-slide-to="2"></li>
               <li data-target="#homeCarousel" data-slide-to="3"></li>
             </ol>
             <div class="carousel-inner" ng-controller="MyCtrl">
					
					 <div class="item image-viewier" ng-repeat="item in items">
							<a href="{{item.redirectlink}}">	<img src="../admin/imagebank/{{item.imgsrc}}"></a>
					</div>
			 </div>
          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev"> 
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a> 
          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next"> 
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      </div>
    </div>
    <div class="container body-container bs-docs-container">
      <div class="row-fluid" id="full-width">
        <div class="col-md-12 home-page">
          <div class="col-md-8 content-section" id="content_section">
            <h3>WHAT WE BELIEVE</h3>
            <div class="region region-content">
              <div class="content">
                <div class="field-items">
                  <div class="field-item even">
                    <ol style="float: left">
                      <li class="about">That the Bible (66 books) is the
                        inspired and infallible Word of God, the sole and sufficient
                        guide for our life on earth.</li>
                      <li class="about">That there is one God eternally
                        existent in three Persons: Father, Son and Holy Spirit.</li>
                      <li class="about">In the Deity of our Lord Jesus Christ,
                        His virgin birth, His humanity, His perfectly sinless life,
                        His substitutionary death as an atonement for our sins, His
                        bodily resurrection, His ascension to the Father, and His
                        personal return to the earth for His saints.</li>
                      <li class="about">That all human beings are dead in sin
                        and utterly lost and that the only way their sins can be
                        forgiven is through repentance and through faith in the
                        death and resurrection of our Lord Jesus Christ.</li>
                      <li class="about">In the regenerating work of the Holy
                        Spirit, whereby a person is born again to be a child of God.</li>
                      <li class="about">That justification is by faith in
                        Christ alone, the evidence of this being good works that
                        glorify God.</li>
                      <li class="about">In baptism in water, by immersion,
                        after regeneration, in the Name of the Father, the Son and
                        the Holy Spirit.</li>
                      <li class="about">In the necessity of being filled with
                        the Holy Spirit continually in order to have power to be
                        witnesses for Christ - by life and by word.</li>
                      <li class="about">In the resurrection of the righteous
                        to eternal life and the resurrection of the unrighteous to
                        eternal damnation.</li>
                    </ol>
                    <span>For a fuller statement of what we believe, click
                      <a
                      href="http://www.cfcindia.com/article/the-truth-that-we-believe">here</a>.
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
				<div class="col-md-3 col-sm-12 col-xs-12 timings-section"
					id="timings_section">
					<div class="meeting-heading">
						<h3>OUR MEETINGS</h3>
					</div>
					<div
						class="col-md-12 col-sm-6 col-xs-12  nopadding meeting-timings">
						<div class="cfcc-meetings-place thirumullai-cfc">
							<a href="http://www.cfcindia.com/locate-us"> CFC Thirumullaivoyal</a>
						</div>
						<div class="cfcc-timings">SUNDAY : 10:30AM - 12:30PM</div>
						<a class="directions cfcc-thirumullai-directions" href="#"> </a>
						
					</div>

					<div class="col-md-12 col-sm-6 col-xs-12 nopadding meeting-timings">
						<div class="cfcc-meetings-place tambaram-cfc">
							<a href="http://www.cfcindia.com/locate-us"> CFC Tambaram</a>
						</div>
						<div class="cfcc-timings">SUNDAY : 10:30AM - 12:30PM</div>
						<div class="cfcc-timings">THURSDAY : 7:30PM - 8:30PM</div>
						<a class="directions cfcc-tambaram-directions" href="#"> </a>
					</div>
				</div>
			</div>
      </div>
     </div>
 </div>
 <script src="../js/angular.min.js"></script>
<script type="text/javascript">
 angular.module('myApp', []).controller('MyCtrl',MyCtrl);
 function MyCtrl($scope, $http, $timeout) {
		$http.get('../admin/getMessages.php?action=start').success(function(data){
		$scope.loaded = true;
		$scope.items = data;
    });
   
}
</script>
